<%= form_for Comment.new do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit 'Post Comment', class: "btn btn-primary" %>
<% end %>