@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Handlee');

body {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 1140px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

nav {
  background-color: white;
  font-size: 1.25rem
}

.navbar-brand {
  font-size: 1.8rem;
  font-family: 'Handlee', cursive, 'Courier';
}

.navbar-nav {
  flex-flow: row nowrap;
  justify-content: space-around;
}

.my-btn {
  font-size: 1.5rem;
}

.my-btn-like {
  color: #969696;
}

.my-btn-unlike {
  color: red;
  &:hover {
        color: #d20101;
    }
}

.pic:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.4;
    display: block;
}

.pic:hover + .info {
    display: block;
}


.info {
  display: none;
  position: absolute;
  top: 45%;
  left: 35%;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  pointer-events: none;
}

.comments {
  overflow-y: auto;
  max-height: 40vh;
}

